@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<se310_th2.Models.TDanhMucSp>

@{
    ViewBag.Title = "SanPhamTheoLoai";
    Layout = "_LayoutOgani";
}


@foreach (var item in Model)
{
    @await Html.PartialAsync("PartialSanPham", new {item = item, path = "../"})
}


<div class="row product__pagination justify-content-center">
    @Html.PagedListPager(Model, page => Url.Action("SanPhamTheoLoai", new { page = page, maLoai = ViewBag.maLoai }))
</div>
